.TabMenu {
  align-items: center;
  margin-bottom: 7rem;
  width: 100%;
}

.TabMenu ul {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.TabMenu li {
  width: 100%;
  transition-duration: 0.3s;
}

& div.desc {
  text-align: center;
}

ul,
li {
  list-style: none;
}
